[workspace]
exclude = ["examples/attachments"]
members = [
  "core",
  "gpu",
  "painter",
  "macros",
  "algo",
  "widgets",
  "ribir",
  "themes/*",
  "geom",
  "tests",
  "dev-helper",
  "examples/*",
  "cli",
]
resolver = "2"

[profile.bench]
debug = true

[profile.release]
lto = true
strip = true
codegen-units = 1

[workspace.package]
authors = ["RibirX<Adoo@outlook.com>"]
categories = ["gui"]
description = "A non-intrusive declarative GUI framework, to build modern native/wasm cross-platform applications."
documentation = "https://ribir.org/docs/introduction"
edition = "2024"
homepage = "https://ribir.org"
keywords = ["gui", "ui", "declarative", "compose-ui"]
license = "MIT"
readme = "README.md"
version = "0.4.0-alpha.49"
rust-version = "1.88.0"

[workspace.dependencies]
ahash = "0.8.11"
arboard = "3.2.0"
bitflags = "2.6.0"
colored = "2.1.0"
derive_more = "2.0.1"
dssim-core = "3.2.9"
env_logger = "0.11.8"
euclid = "0.22.11"
fontdb = "0.23.0"
futures = "0.3.26"
guillotiere = "0.6.0"
image = { version = "0.25.6", default-features = false, features = ["rayon"] }
indextree = "4.7.3"
log = "0.4.27"
lyon_algorithms = "1.0.5"
lyon_geom = "1.0.6"
lyon_path = "1.0.7"
lyon_tessellation = "1.0.15"
material-colors = "0.4.2"
icrate = "0.0.4"
paste = "1.0"
pin-project-lite = "0.2.15"
proc-macro2 = "1.0.89"
quote = "1.0.37"
rayon = "1.10.0"
rustybuzz = "0.20.1"
rxrust = { version = "1.0.0-beta.10", default-features = false, features = [] }
scoped_threadpool = "0.1.9"
triomphe = "0.1.12"
serde = "1.0"
serde_json = "1.0.82"
smallvec = "1.15.0"
syn = "2.0.87"
unicode-bidi = "0.3.7"
unicode-script = "0.5.4"
unicode-segmentation = "1.9.0"
usvg = { version = "0.45.0", default-features = false }
wgpu = { version = "27.0.1", features = ["webgl"] }
winit = { version = "0.30.11", default-features = false, features = [
  "x11",
  "wayland",
  "wayland-dlopen",
  "rwh_06",
] }
zerocopy = "0.7.3"
quick-xml = "0.37.1"
macos-accessibility-client = { version = "0.0.1" }
tokio = { version = "1.0" }
tokio-run-until-stalled = "0.1.0"
priority-queue = "2.1.1"
web-sys = { version = "0.3.69", features = ["HtmlCollection"] }
web-time = "1.1.0"
heck = "0.5.0"
url = "2.5.4"
thiserror = "2.0.12"
wasm-bindgen-futures = "0.4.50"
getrandom-v3 = { package = "getrandom", version = "0.3", features = ["wasm_js"] }
cfg-if = "1.0"
tauri-bundler = "=2.7.3"
tauri-utils = "=2.8.0"
serde-value = "0.7.0"
serde_with = "3.14.0"
toml = "0.9.2"

[workspace.metadata.release]
shared-version = true
tag = false
