[workspace]
exclude = ["examples/attachments"]
members = [
  "core",
  "gpu",
  "painter",
  "macros",
  "algo",
  "widgets",
  "ribir",
  "themes/material",
  "geom",
  "tests",
  "dev-helper",
  "examples/*",
  "cli",
]
resolver = "2"

[profile.bench]
debug = true

[profile.release]
lto = true
strip = true  
codegen-units = 1

[workspace.package]
authors = ["RibirX<Adoo@outlook.com>"]
categories = ["gui"]
description = "A non-intrusive declarative GUI framework, to build modern native/wasm cross-platform applications."
documentation = "https://ribir.org/docs"
edition = "2021"
homepage = "https://ribir.org"
keywords = ["gui", "ui", "declarative", "compose-ui"]
license = "MIT"
readme = "README.md"
version = "0.4.0-alpha.12"
rust-version = "1.77.0"

[workspace.dependencies]
ahash = "0.8.11"
arboard = "3.2.0"
bitflags = "2.0.0"
blake3 = "1.3.3"
colored = "2.0.0"
derive_more = "0.99.17"
dssim-core="3.2.9"
env_logger = "0.7.1"
euclid = "0.22.6"
fontdb = "0.22.0"
futures = "0.3.26"
guillotiere = "0.6.0"
image = { version = "0.24.5", default-features = false }
indextree = "4.5.0"
lazy_static = "1.4.0"
log = "0.4.14"
lyon_algorithms = "1.0.1"
lyon_geom = "1.0.1"
lyon_path = "1.0.1"
lyon_tessellation = "1.0.1"
material-color-utilities-rs = "0.2.1"
icrate = "0.0.4"
once_cell = "1.17.1"
ordered-float = "4.1.1"
paste = "1.0"
pin-project-lite = "0.2.9"
proc-macro2 = "1.0.81"
quote = "1.0.16"
rayon = "1.5.1"
rctree = "0.5.0"
rustybuzz = "0.11.0"
rxrust = { version="1.0.0-beta.8", default-features = false, features = ["futures-scheduler"]}
scoped_threadpool = "0.1.9"
triomphe = "0.1.12"
serde = "1.0"
serde_json = "1.0.82"
smallvec = "1.8.0"
syn = "2.0.38"
tiny-skia-path = {version = "0.11.0"}
unicode-bidi = "0.3.7"
unicode-script = "0.5.4"
unicode-segmentation = "1.9.0"
usvg = { version= "0.36.0", default-features = false }
webbrowser = "0.8.8"
wgpu = {version = "0.20.0", features=["webgl"]}
winit = { version="0.29.5", default-features = false, features = ["x11", "wayland", "wayland-dlopen", "rwh_06"]}
zerocopy = "0.7.3"
quick-xml = "0.31.0"
macos-accessibility-client = { version = "0.0.1" }
tokio = { version = "1.0" }
tokio-stream = { version = "0.1" }
priority-queue = "1.3.2"
phf = "0.11.2"
web-sys = { version = "0.3.69", features = ["HtmlCollection"] }
web-time = "1.1.0"
wasm-bindgen-futures = "0.4.42"
getrandom = { version = "0.2.12", features = ["js"] }

[workspace.metadata.release]
shared-version = true
tag = false
