[package]
name = "core"
version = "0.1.0"
authors = ["adoo <Adoo@outlook.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
herald =  "0.1.0"
indextree= "4.0.0"
rxrust = "0.8.3"
bitflags = "1.2.1"

[dependencies.blake3]
version = "0.2.2"
features = ["rayon"]


[profile.bench]
debug = true