[package]
authors = ["adoo <Adoo@outlook.com>"]
categories = ["gui"]
description = "Ribir is a framework for building modern native/wasm cross-platform user interface applications."
documentation = "https://ribir.org/docs"
edition = "2021"
homepage = "https://ribir.org"
keywords = ["gui", "ui", "declarative", "compose-ui"]
license = "MIT"
name = "ribir_core"
readme = "README.md"
repository = "https://github.com/RibirX/Ribir/algo"
version = "0.0.0"

[dependencies]
ahash = "0.8.3"
bitflags = "2.0.0"
futures = "0.3.26"
indextree = "4.5.0"
lazy_static = "1.4.0"
log = "0.4.8"
lyon_algorithms = "1.0.1"
lyon_geom = "1.0.1"
png = {version = "0.17.3", optional = true}
ribir_algo = {path = "../algo", version = "0.0.0"}
ribir_geometry = {path = "../geometry", version = "0.0.0"}
ribir_macros = {path = "../macros", version = "0.0.0"}
ribir_painter = {path = "../painter", version = "0.0.0"}
ribir_text = {path = "../text", version = "0.0.0"}
rxrust = "1.0.0-beta.1"
smallvec = "1.8.0"

[dependencies.blake3]
features = ["rayon"]
version = "1.3.3"

[features]
png = ["dep:png"]
thread-pool = [
  "futures/thread-pool",
]

[dev-dependencies]
colored = "2.0.0"
