[package]
edition = "2021"
name = "painter"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
algo = {path = "../algo"}
euclid = "0.22.6"
fontdb = "0.7.0"
lyon_algorithms = "0.17.7"
lyon_path = "0.17.7"
